{{ define "main" }}
<!--  -->
{{ partial "navbar" . }}

<section id="greeting" class=" pt-5">
  <div class="container-fluid">
    <h1 class="font-weight-light text-lowercase font-raleway text-center">
      {{.Title}}
    </h1>
  </div>
</section>

<!-- <section id="score" class="py-5">
  <div class="text-center">
    <h1 class="font-weight-light" style="font-size: 96px;">96</h1>
    <h4 class="font-weight-bold">Score</h4>
  </div>
</section> -->

<section id="suggestions" class="py-3">
  {{ range .Pages }}
  <a href="{{.URL}}" class="">
    <div class="container py-2">
      <img class="w-100" src="{{.Params.img}}" alt="" />
    </div>
  </a>
  {{ end }}
</section>
{{ end }}
