<section class="pt-5">
    <div class="container-fluid">
        <h1 class="font-weight-light text-lowercase font-raleway text-center">surfing</h1>
    </div>
</section>

<section class="pt-5 px-3">
    <div class= "container-fluid bg-red rounded">
        <div class="row">
            <h5>surfing</h5>
        </div>
        <div class="row">
            <h5>today: 1/5</h5>
        </div>
    </div>
</section>
    <section class="pt-5 px-3">
        <div>
            <div class="row">
                <h5 class="pr-3" >set your goal: </h5>
                <input type="text" maxlength="4" size="4" class= "rounded-pill"><br>                  
            </div>
            <div class="row">
                    <h5 class="pr-3">Build or quit this habit: </h5>
                    <input type="text" maxlength="4" size="4" class= "rounded-pill"><br>                  
                    <input type="text" maxlength="4" size="4" class= "rounded-pill"><br>                  
                </div>
            <div class="row">
                    <h5 class="pr-3" >chose your goal period: </h5>
                    <input type="text" maxlength="4" size="4" class= "rounded-pill"><br>                  
                    <input type="text" maxlength="4" size="4" class= "rounded-pill"><br>                  
                    <input type="text" maxlength="4" size="4" class= "rounded-pill"><br>                  
                    <input type="text" maxlength="4" size="4" class= "rounded-pill"><br>                  
            </div>
            <div class="row">
                    <h5 class="pr-3" >add a note: </h5>
                    <input type="text" maxlength="4" size="40" class= "rounded-pill"><br><br><br><br>                                   
            </div>

        </div>
    </section>