<section id="bottomnav" class="border bg-white fixed-bottom py-3">
  <div class="row">
    <div class="col-3 text-center">
      <a href="/health" class="text-amber-dark">
        <i class="fas fa-heartbeat fa-2x"></i>
      </a>
    </div>
    <div class="col-3 text-center">
      <a href="/hobby" class="text-amber-dark">
        <i class="far fa-smile-beam fa-2x"></i>
      </a>
    </div>
    <div class="col-3 text-center">
      <a href="/orgs" class="text-amber-dark">
        <i class="fas fa-globe-americas fa-2x"></i>
      </a>
    </div>
    <div class="col-3 text-center">
      <a href="/journal" class="text-amber-dark">
        <i class="fas fa-journal-whills fa-2x"></i>
      </a>
    </div>
  </div>
</section>
