{{ define "main" }}
<!--  -->
{{ partial "navbar" . }}

<section id="greeting" class="pt-5">
  <div class="container-fluid">
    <h1 class="font-weight-light text-lowercase font-raleway text-center">{{.Title}}</h1>
  </div>
</section>

<section id="suggestions" class="py-3">
  <div class="container">
    <div class="row py-2 px-2">
      <img class="w-100" src="/assets/orgs/gardening.png" alt="" />
    </div>
    <div class="row py-2 px-2">
      <img class="w-100" src="/assets/orgs/football.png" alt="" />
    </div>
  </div>
</section>
{{ end }}
